@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #2b283a;
  line-height: 1.2;
  background-color: #fdfdfd;
  box-sizing: border-box;
  font-size: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  background-color: #f55a5a;
}

.header__globe {
  width: 1.5em;
}

.header__text {
  margin-left: 0.5em;
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -1px;
}

.container {
  margin-top: 30px;
  max-width: 800px;
  margin-inline: auto;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 2em;
}

.card__image-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 95vw;
  height: 130vw;
  object-fit: cover;
  flex-shrink: 1;
}

.card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 500px;
  flex-shrink: 4;
}

.card__location {
  display: flex;
  align-items: center;
}

.card__pin {
  width: 12px;
}

.card__country {
  letter-spacing: 2px;
  margin-left: 5px;
  margin-right: 20px;
}

.gray {
  color: #918e9b;
}

.card__landmark {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: -1px;
}

.card__date {
  font-weight: 700;
  margin-bottom: 0;
}

.card__description {
  line-height: 1.4;

  margin-bottom: 0;
}

footer {
  margin-top: 4em;
  background-color: #2b283a;
  color: #ffffff;
  padding: 10px;
}

@media screen and (min-width: 425px) {
  .card {
    flex-direction: row;
  }
  .card__image-container {
    width: 200px;
    height: 300px;
  }

  .card__text-container {
    width: 500px;
    margin-left: 30px;
  }
  .card__landmark {
    margin-bottom: 10px;
  }
  .card__date {
    margin-bottom: 5px;
  }
}
